<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js" integrity="sha256-uVEHWRIr846/vAdLJeybWxjPNStREzOlqLMXjW/Saeo=" crossorigin="anonymous"></script>

    <!-- PRolice data -->
    <!-- https://stackoverflow.com/a/9320664 -->
    <script type="application/javascript" id="metadata">
        const owner = "{{ owner }}";
        const repository = "{{ repository }}";
    </script>
    <script type="application/json" id="data">
        {{{ data }}}
    </script>
    <script type="application/javascript">
        function myFunction() {
            console.log(getTestToCodeRatios());
        }
    </script>

    <title>PRolice Report</title>
</head>
<body>

<h1>PRolice Report - {{ owner }}/{{ repository }}</h1>

<div class="container-fluid">
    <p id="demo">A Paragraph</p>
    <button type="button" onclick="console.log(getTestToCodeTestLocs())">Try it</button>
</div>

<div id="testToCodeRatioDiv" class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="testToCodePlot"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="testToCodeRatioPlot"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="application/javascript" id="utils">
    /* ==================== */
    /* PRolice Report Utils */
    /* ==================== */

    const COLORS = [
        '#4dc9f6',
        '#f67019',
        '#f53794',
        '#537bc4',
        '#acc236',
        '#166a8f',
        '#00a950',
        '#58595b',
        '#8549ba'
    ];

    const CHART_COLORS = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    const NAMED_COLORS = [
        CHART_COLORS.red,
        CHART_COLORS.orange,
        CHART_COLORS.yellow,
        CHART_COLORS.green,
        CHART_COLORS.blue,
        CHART_COLORS.purple,
        CHART_COLORS.grey,
    ];

    /**
     * Returns the underlying analysis's results, as JSON.
     * */
    function getJsonData() {
        return JSON.parse(document.getElementById('data').innerHTML);
    }

    /**
     * Returns the underlying analysis's individual PRs' score.
     * */
    function getIndividualPRsScore() {
        return getJsonData()['individual_prs_score'];
    }

    /**
     * Returns the underlying analysis's global score.
     * */
    function getGlobalScore() {
        return getJsonData()['global_score'];
    }

    /**
     * Generates an array of labels for the underlying JSON data.
     * */
    function getLabelsForData() {
        return Array.from(getIndividualPRsScore().map(prScore => prScore["pr_number"]));
    }
</script>

<script type="application/javascript" id="test-to-code-ratio">
    /* ========================= */
    /* Test-to-code-ratio Report */
    /* ========================= */

    function getTestToCodeRatioObjects() {
        // https://stackoverflow.com/a/55271350
        return getIndividualPRsScore()
                .flatMap(({ score }) => score.map(({ TestToCodeRatio }) => TestToCodeRatio))
                .filter(element => element !== undefined);
    }

    function getTestToCodeLocs() {
        return getTestToCodeRatioObjects().map(ttc =>  ttc['loc']);
    }

    function getTestToCodeTestLocs() {
        return getTestToCodeRatioObjects().map(ttc =>  ttc['test_loc']);
    }

    function getTestToCodeRatios() {
        return getTestToCodeRatioObjects().map(ttc =>  ttc['ratio']);
    }

    /* testToCodePlot */

    const testToCodePlotData = {
        labels: getLabelsForData(),
        datasets: [
            {
                label: 'Lines of code',
                fill: false,
                backgroundColor: CHART_COLORS.blue,
                borderColor: CHART_COLORS.blue,
                data: getTestToCodeLocs(),
            },
            {
                label: 'Test lines of code',
                fill: true,
                backgroundColor: CHART_COLORS.green,
                borderColor: CHART_COLORS.green,
                data: getTestToCodeTestLocs(),
            },
        ]
    };

    const testToCodePlotConfig = {
        type: 'line',
        data: testToCodePlotData,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Test-to-code Report'
                },
            },
            interaction: {
                mode: 'index',
                intersect: false
            },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'PR Number'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Lines of code'
                    }
                }
            }
        },
    };

    let testToCodePlot = new Chart(
            document.getElementById('testToCodePlot'),
            testToCodePlotConfig
    );

    /* testToCodeRatioPlot */

    const testToCodeRatioPlotData = {
        labels: getLabelsForData(),
        datasets: [
            {
                label: 'Test-to-code Ratio',
                fill: false,
                backgroundColor: CHART_COLORS.green,
                borderColor: CHART_COLORS.green,
                borderDash: [5, 5],
                data: getTestToCodeRatios(),
                stepped: 'middle'
            },
        ]
    };

    const testToCodeRatioPlotConfig = {
        type: 'line',
        data: testToCodeRatioPlotData,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Test-to-code Ratio Report'
                },
            },
            interaction: {
                mode: 'index',
                intersect: false
            },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'PR Number'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Ratio'
                    }
                }
            }
        },
    };

    let testToCodeRatioPlot = new Chart(
            document.getElementById('testToCodeRatioPlot'),
            testToCodeRatioPlotConfig
    );
</script>

</body>
</html>